@{
    ViewData["Title"] = "Profil";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h1>Profil</h1>
            <h2>Vítej @User.Identity.Name</h2>
        </p>
    </div>
</div>